body{
    background-image: url("giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width: 768px){
    body{
        background-image: url("giga.gif");
        background-size: 100%;
    }
}